.student-list-container {
    .student-list {
        min-height: 612px;
        padding: 10px;
        flex-wrap: wrap;
        gap: 15px;

        @media (min-width: 860px) {
            width: 840px;
        }

        @media (min-width: 1200px) {
            width: 1120px;
        }
    }
}
