button {
    cursor: pointer;
}

.primary-btn {
    background-color: #0079bf;
    border: none;
    color: #fff;
    margin-right: 4px;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: rem(14px);

    &:hover { 
        background-color: #026aa7;
    }
}

.delete-btn {
    background-color: #b04632;
    border: none;
    color: #fff;
    margin-right: 4px;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: rem(14px);

    &:hover { 
        background-color: #853322;
    }
}

